.movie-description{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #007bff;
}
.movie-title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}
.movie-director{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}
.movie-genre{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
